.movie-section {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 30px 10px;
  }
  
  .movie-card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }
  
  .movie-info {
    margin-top: 10px;
  }
  .Shrek-riverdale{
    position: relative;
    top: 200px;
    left: -150px;
    background-color: #181715;
    border: solid 3px #1D1D1D;
    height: 20px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    margin:15px 0px 0px 30px;
  }
  .play-button{
    margin-left: 37px;
    position: relative;
    top: 10px;
  }
  .play-button2{
    margin-left: 10px;
    position: relative;
    top: 10px;
  }
  .movie-name{
    color: white;
    position: relative;
    top: -30px;
  }
  
  .movie-card {
    position: relative;
    border-radius: 15px;
    padding: 2px;
    width: 200px;
    height: 200px;
  }
  .movie-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
  }
  .movie-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 3px;
    padding-left: 10px;
  }
  
  .movie-year {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .three-movies{
    font-weight: lighter;
    font-size: 15px;
    padding-left: 10px;
  }
  .see-more{
    background: #181715;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    color: #FFA41C;
    font-family: "Quicksand";
    margin-left: 5px;
    width: 90px;
  }